.menu{
    display: flex;
    justify-content: space-between;
    background-color:#F4A460;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #A0522D;
}
body{
    margin: 35px;
    /* modify background color here*/
    background-color:#D2B48C;
    
}


.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid #F5DEB3;
    border-radius: 50px;
}
.origami {
    
    border-radius: 20px;
    background-color: #ffffff;
    /* modify margin and padding here*/
    padding: 200px;
    margin: 25px;
    width:310px;
    font-family: fantasy;
    
}
